@model MvcApplication1.Models.Entradas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Entradas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comentario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdBlog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdBlog)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
